In [2]:
import pandas as pd
import os
#from urllib.request import urlretrieve
import numpy as np

In [3]:
#Loading first set of data
lower_secondary = 'Lower Secondary.csv'
df_1 = pd.read_csv(lower_secondary)
print(df_1.head())

  ISO3 Countries and areas Region Sub-region Development Regions  Total  \
0  AFG         Afghanistan     SA         SA     Least Developed   40.0
1  ALB             Albania    ECA       EECA      More Developed    2.0
2  DZA             Algeria   MENA       MENA      Less Developed    6.0
3  AND             Andorra    ECA         WE      More Developed    NaN
4  AGO              Angola    SSA        ESA     Least Developed   15.0

   Female  Male  Rural_Residence  Urban_Residence  Poorest_Wealth quintile  \
0    56.0  25.0             46.0             23.0                     50.0
1     2.0   2.0              2.0              2.0                      4.0
2     6.0   5.0              8.0              4.0                     12.0
3     NaN   NaN              NaN              NaN                      NaN
4    17.0  14.0             28.0             10.0                     31.0

   Second_Wealth quintile  Middle_Wealth quintile  Fourth_Wealth quintile  \
0                    48.0                    49.0                    33.0
1                     2.0                     2.0                     1.0
2                     6.0                     5.0                     3.0
3                     NaN                     NaN                     NaN
4                    26.0                    16.0                     6.0

   Richest_Wealth quintile   Data source  Time period
0                     21.0      DHS 2015       2015.0
1                      1.0   DHS 2017-18       2018.0
2                      2.0  MICS 2012-13       2013.0
3                      NaN           NaN          NaN
4                      4.0   DHS 2015-16       2016.0

In [1]:
#Verifying for any duplicates in df_1.
#df_1.drop_duplicates(subset=['ISO3', 'Countries and areas'])

In [5]:
#Loading second set of data
primary = 'Primary.csv'
df_2 = pd.read_csv(primary)
print(df_2.head())

  ISO3 Countries and areas Region Sub-region Development Regions  Total  \
0  AFG         Afghanistan     SA         SA     Least Developed   37.0
1  ALB             Albania    ECA       EECA      More Developed    2.0
2  DZA             Algeria   MENA       MENA      Less Developed    2.0
3  AND             Andorra    ECA         WE      More Developed    NaN
4  AGO              Angola    SSA        ESA     Least Developed   22.0

   Female  Male  Rural_Residence  Urban_Residence  Poorest_Wealth quintile  \
0    47.0  28.0             42.0             19.0                     42.0
1     2.0   3.0              4.0              1.0                      4.0
2     2.0   2.0              2.0              2.0                      3.0
3     NaN   NaN              NaN              NaN                      NaN
4    22.0  21.0             35.0             14.0                     39.0

   Second_Wealth quintile  Middle_Wealth quintile  Fourth_Wealth quintile  \
0                    47.0                    46.0                    32.0
1                     3.0                     2.0                     2.0
2                     2.0                     2.0                     2.0
3                     NaN                     NaN                     NaN
4                    33.0                    19.0                    12.0

   Richest_Wealth quintile   Data source  Time period
0                     16.0      DHS 2015       2015.0
1                      1.0   DHS 2017-18       2018.0
2                      1.0  MICS 2012-13       2013.0
3                      NaN           NaN          NaN
4                      5.0   DHS 2015-16       2016.0

In [2]:
#Verifying for any duplicates in df_2.
#df_2.drop_duplicates(subset=['ISO3', 'Countries and areas'])

In [7]:
#Loading third set of data
upper_secondary = 'Upper Secondary.csv'
df_3 = pd.read_csv(upper_secondary)
print(df_3.head())

  ISO3 Countries and areas Region Sub-region Development Regions  Total  \
0  AFG         Afghanistan     SA         SA     Least Developed   58.0
1  ALB             Albania    ECA       EECA      More Developed   12.0
2  DZA             Algeria   MENA       MENA      Less Developed   25.0
3  AND             Andorra    ECA         WE      More Developed    NaN
4  AGO              Angola    SSA        ESA     Least Developed   29.0

   Female  Male  Rural_Residence  Urban_Residence  Poorest_Wealth quintile  \
0    73.0  43.0             63.0             45.0                     70.0
1    12.0  12.0             16.0              9.0                     27.0
2    23.0  28.0             33.0             21.0                     40.0
3     NaN   NaN              NaN              NaN                      NaN
4    35.0  21.0             53.0             19.0                     58.0

   Second_Wealth quintile  Middle_Wealth quintile  Fourth_Wealth quintile  \
0                    64.0                    64.0                    54.0
1                    11.0                    11.0                     5.0
2                    29.0                    24.0                    20.0
3                     NaN                     NaN                     NaN
4                    50.0                    27.0                    17.0

   Richest_Wealth quintile   Data source  Time period
0                     40.0      DHS 2015       2015.0
1                      5.0   DHS 2017-18       2018.0
2                     12.0  MICS 2012-13       2013.0
3                      NaN           NaN          NaN
4                      9.0   DHS 2015-16       2016.0

In [3]:
#Verifying for any duplicates in df_3.
#df_3.drop_duplicates(subset=['ISO3', 'Countries and areas'])

In [9]:
#Joined all three sets of the data with the Concat function
frames = [df_1, df_2, df_3]
super_data_frame = pd.concat(frames, axis=0, keys=['a', 'b', 'c'])
pd.set_option('display.max_rows', 606)
print(super_data_frame.head())

    ISO3 Countries and areas Region Sub-region Development Regions  Total  \
a 0  AFG         Afghanistan     SA         SA     Least Developed   40.0
  1  ALB             Albania    ECA       EECA      More Developed    2.0
  2  DZA             Algeria   MENA       MENA      Less Developed    6.0
  3  AND             Andorra    ECA         WE      More Developed    NaN
  4  AGO              Angola    SSA        ESA     Least Developed   15.0

     Female  Male  Rural_Residence  Urban_Residence  Poorest_Wealth quintile  \
a 0    56.0  25.0             46.0             23.0                     50.0
  1     2.0   2.0              2.0              2.0                      4.0
  2     6.0   5.0              8.0              4.0                     12.0
  3     NaN   NaN              NaN              NaN                      NaN
  4    17.0  14.0             28.0             10.0                     31.0

     Second_Wealth quintile  Middle_Wealth quintile  Fourth_Wealth quintile  \
a 0                    48.0                    49.0                    33.0
  1                     2.0                     2.0                     1.0
  2                     6.0                     5.0                     3.0
  3                     NaN                     NaN                     NaN
  4                    26.0                    16.0                     6.0

     Richest_Wealth quintile   Data source  Time period
a 0                     21.0      DHS 2015       2015.0
  1                      1.0   DHS 2017-18       2018.0
  2                      2.0  MICS 2012-13       2013.0
  3                      NaN           NaN          NaN
  4                      4.0   DHS 2015-16       2016.0

In [10]:
#Used the info method to know what the data types of the data frame are.
super_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 606 entries, ('a', 0) to ('c', 201)
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ISO3                     606 non-null    object
 1   Countries and areas      606 non-null    object
 2   Region                   600 non-null    object
 3   Sub-region               600 non-null    object
 4   Development Regions      606 non-null    object
 5   Total                    330 non-null    float64
 6   Female                   330 non-null    float64
 7   Male                     330 non-null    float64
 8   Rural_Residence          322 non-null    float64
 9   Urban_Residence          322 non-null    float64
 10  Poorest_Wealth quintile  306 non-null    float64
 11  Second_Wealth quintile   306 non-null    float64
 12  Middle_Wealth quintile   306 non-null    float64
 13  Fourth_Wealth quintile   306 non-null    float64
 14  Richest_Wealth quintile  306 non-null    float64
 15  Data source              330 non-null    object
 16  Time period              330 non-null    float64
dtypes: float64(11), object(6)
memory usage: 82.5+ KB

In [11]:
#Used the describe method for a statistical summary of the numerical data
super_data_frame.describe().T

,count,mean,std,min,25%,50%,75%,max
Total,330.0,18.190909,18.599357,0.0,3.00,11.0,27.00,86.0
Female,330.0,18.881818,20.502679,0.0,3.00,10.0,29.00,91.0
Male,330.0,17.445455,17.129004,0.0,3.25,12.0,26.00,79.0
Rural_Residence,322.0,22.114907,21.867396,0.0,4.00,13.0,35.00,95.0
Urban_Residence,322.0,13.021739,13.619306,0.0,3.00,8.0,19.75,70.0
Poorest_Wealth quintile,306.0,29.614379,25.901990,0.0,6.00,23.5,46.00,99.0
Second_Wealth quintile,306.0,23.055556,23.248625,0.0,3.00,15.0,36.00,97.0
Middle_Wealth quintile,306.0,19.078431,20.788089,0.0,3.00,11.0,29.00,97.0
Fourth_Wealth quintile,306.0,14.617647,17.425275,0.0,2.00,7.0,21.00,92.0
Richest_Wealth quintile,306.0,9.300654,12.074406,0.0,1.00,4.0,13.00,63.0
Time period,330.0,2015.496970,2.567329,2010.0,2014.00,2016.0,2018.00,2019.0

In [12]:
#Number of unique vales of the 1st column; ISO3.
super_data_frame['ISO3'].nunique(dropna=False)

202

In [13]:
#Number of unique values of the 2nd column; Countries and areas.
super_data_frame['Countries and areas'].nunique(dropna=False)

202

In [14]:
#Mode of the 3rd column; Region.
super_data_frame['Region'].mode(dropna=False)

0    ECA
dtype: object

In [15]:
#Number of unique values of the 3rd column; Region.
super_data_frame['Region'].nunique(dropna=False)

7

In [16]:
#Mode of the 4th column; Sub-region.
super_data_frame['Sub-region'].mode(dropna=False)

0    LAC
dtype: object

In [17]:
#Number of unique values of the 4th column; Sub-region.
super_data_frame['Sub-region'].nunique(dropna=False)

9

In [18]:
#Mode of the 5th column; Development Regions.
super_data_frame['Development Regions'].mode(dropna=False)

0    Less Developed
dtype: object

In [19]:
#Number of unique values of the 5th column; Regions.
super_data_frame['Development Regions'].nunique(dropna=False)

4

In [20]:
#Mean of the 6th column; Total.
super_data_frame['Total'].mean()

18.19090909090909

In [21]:
#Median of the 6th column; Total.
super_data_frame['Total'].median()

11.0

In [22]:
#Mode of the 6th column; Total.
#super_data_frame['Total'].mode(dropna=False)
super_data_frame['Total'].mode()

0    1.0
dtype: float64

In [23]:
#Standard Deviation of the 6th column; Total.
super_data_frame['Total'].std()

18.599357174831034

In [24]:
#Range of the 6th column; Total.
print('range is', super_data_frame.Total.max() - super_data_frame.Total.min())

range is 86.0

In [25]:
#Number of unique values of the 6th column; Total.
super_data_frame['Total'].nunique(dropna=False)

68

In [26]:
#Mean of the 7th column; Female.
super_data_frame['Female'].mean()

18.881818181818183

In [27]:
#Median of the 7th column; Female.
super_data_frame['Female'].median()

10.0

In [28]:
#Mode of the 7th column; Female.
super_data_frame['Female'].mode()

0    1.0
dtype: float64

In [29]:
#Standard deviation of the 7th column; Female.
super_data_frame['Female'].std()

20.50267911243577

In [30]:
#Range of the 7th column; Female.
print('range is', super_data_frame.Female.max() - super_data_frame.Female.min())

range is 91.0

In [31]:
#Number of unique values of the 7th column; Female.
super_data_frame['Female'].nunique(dropna=False)

69

In [32]:
#Mean of the 8th column; Male.
super_data_frame['Male'].mean()

17.445454545454545

In [33]:
#Median of the 8th column; Male.
super_data_frame['Male'].median()

12.0

In [34]:
#Mode of the 8th column; Male.
super_data_frame['Male'].mode()

0    1.0
dtype: float64

In [35]:
#Standard Deviation of the 8th column; Male.
super_data_frame['Male'].std()

17.129004373465346

In [36]:
#Range of the 8th column; Male.
print('range is', super_data_frame.Male.max() - super_data_frame.Male.min())

range is 79.0

In [37]:
#Number of unique vales of the 8th column; Male.
super_data_frame['Male'].nunique(dropna=False)

64

In [38]:
#Mean of the 9th column; Rural_Residence.
super_data_frame['Rural_Residence'].mean()

22.114906832298136

In [39]:
#Median of the 9th column; Rural_Residence.
super_data_frame['Rural_Residence'].median()

13.0

In [40]:
#Mode of the 9th column; Rural_Residence.
super_data_frame['Rural_Residence'].mode()

0    1.0
dtype: float64

In [41]:
#Standard Deviation of the 9th column; Rural_Residence.
super_data_frame['Rural_Residence'].std()

21.86739620918517

In [42]:
#Range of the 9th column; Rural_Residence.
print('range is', super_data_frame.Rural_Residence.max() - super_data_frame.Rural_Residence.min())

range is 95.0

In [43]:
#Number of unique values of the 9th column; Rural_Residence.
super_data_frame['Rural_Residence'].nunique(dropna=False)

74

In [44]:
#Mean of the 10th column; Urban_Residence.
super_data_frame['Urban_Residence'].mean()

13.021739130434783

In [45]:
#Median of the 10th column; Urban_Residence.
super_data_frame['Urban_Residence'].median()

8.0

In [46]:
#Mode of the 10th column; Urban_Residence.
super_data_frame['Urban_Residence'].mode()

0    1.0
dtype: float64

In [47]:
#Standard Deviation of the 10th column; Urban_Residence.
super_data_frame['Urban_Residence'].std()

13.619306415760567

In [48]:
#Range of the 10th column; Urban_Residence.
print('range is', super_data_frame.Urban_Residence.max() - super_data_frame.Urban_Residence.min())

range is 70.0

In [49]:
#Number of unique values of the 10th column; Urban_Residence.
super_data_frame['Urban_Residence'].nunique(dropna=False)

53

In [50]:
#Mean of the 11th column; Poorest_Wealth quintile.
super_data_frame['Poorest_Wealth quintile'].mean()

29.61437908496732

In [51]:
#Median of the 11th column; Poorest_Wealth quintile.
super_data_frame['Poorest_Wealth quintile'].median()

23.5

In [52]:
#Mode of the 11th column; Poorest_Wealth quintile.
super_data_frame['Poorest_Wealth quintile'].mode()

0    2.0
dtype: float64

In [53]:
#Standard Deviation of the 11th column; Poorest_Wealth quintile.
super_data_frame['Poorest_Wealth quintile'].std()

25.901990348995

In [54]:
#Range of the 11th column; Poorest_Wealth quintile.
print('range is', super_data_frame['Poorest_Wealth quintile'].max() - super_data_frame['Poorest_Wealth quintile'].min())

range is 99.0

In [55]:
#Number of unique values of the 11th column; Poorest_Wealth quintile.
super_data_frame['Poorest_Wealth quintile'].nunique(dropna=False)

88

In [56]:
#Mean of the 12th column; Second_Wealth quintile.
super_data_frame['Second_Wealth quintile'].mean()

23.055555555555557

In [57]:
#Median of the 12th column; Second_Wealth quintile.
super_data_frame['Second_Wealth quintile'].median()

15.0

In [58]:
#Mode of the 12th column; Second_Wealth quintile.
super_data_frame['Second_Wealth quintile'].mode()

0    2.0
dtype: float64

In [59]:
#Standard Deviation of the 12th column; Second_Wealth quintile.
super_data_frame['Second_Wealth quintile'].std()

23.248624535767714

In [60]:
#Range of the 12th column; Second_Wealth quintile.
print('range is', super_data_frame['Second_Wealth quintile'].max() - super_data_frame['Second_Wealth quintile'].min())

range is 97.0

In [61]:
#Number of unique values of the 12th column; Second_Wealth quintile.
super_data_frame['Second_Wealth quintile'].nunique(dropna=False)

75

In [62]:
#Mean of the 13th column; Middle_Wealth quintile.
super_data_frame['Middle_Wealth quintile'].mean()

19.07843137254902

In [63]:
#Median of the 13th column; Middle_Wealth quintile.
super_data_frame['Middle_Wealth quintile'].median()

11.0

In [64]:
#Mode of the 13th column; Middle_Wealth quintile.
super_data_frame['Middle_Wealth quintile'].mode()

0    2.0
dtype: float64

In [65]:
#Standard Deviation of the 13th column; Middle_Wealth quintile.
super_data_frame['Middle_Wealth quintile'].std()

20.788089090225277

In [66]:
#Range of the 13th column; Middle_Wealth quintile.
print('range is', super_data_frame['Middle_Wealth quintile'].max() - super_data_frame['Middle_Wealth quintile'].min())

range is 97.0

In [67]:
#Number of unique values of the 13th column; Middle_Wealth quintile.
super_data_frame['Middle_Wealth quintile'].nunique(dropna=False)

73

In [68]:
#Mean of the 14th column; Fourth_Wealth quintile.
super_data_frame['Fourth_Wealth quintile'].mean()

14.617647058823529

In [69]:
#Median of the 14th column; Fourth_Wealth quintile.
super_data_frame['Fourth_Wealth quintile'].median()

7.0

In [70]:
#Mode of the 14th column; Fourth_Wealth quintile.
super_data_frame['Fourth_Wealth quintile'].mode()

0    1.0
dtype: float64

In [71]:
#Standard Deviation of the 14th column; Fourth_Wealth quintile.
super_data_frame['Fourth_Wealth quintile'].std()

17.425275095401915

In [72]:
#Range of the 14th column; Fourth_Wealth quintile.
print('range is', super_data_frame['Fourth_Wealth quintile'].max() - super_data_frame['Fourth_Wealth quintile'].min())

range is 92.0

In [73]:
#Number of unique values of the 14th column; Fourth_Wealth quintile.
super_data_frame['Fourth_Wealth quintile'].nunique(dropna=False)

61

In [74]:
#Mean of the 15th column; Richest_Wealth quintile.
super_data_frame['Richest_Wealth quintile'].mean()

9.300653594771243

In [75]:
#Median of the 15th column; Richest_Wealth quintile.
super_data_frame['Richest_Wealth quintile'].median()

4.0

In [76]:
#Mode of the 15th column; Richest_Wealth quintile.
super_data_frame['Richest_Wealth quintile'].mode()

0    1.0
dtype: float64

In [77]:
#Standard Deviation of the 15th column; Richest_Wealth quintile.
super_data_frame['Richest_Wealth quintile'].std()

12.074405917474278

In [78]:
#Range of the 15th column; Richest_Wealth quintile.
print('range is', super_data_frame['Richest_Wealth quintile'].max() - super_data_frame['Richest_Wealth quintile'].min())

range is 63.0

In [79]:
#Number of unique values of the 15th column; Richest_Wealth quintile.
super_data_frame['Richest_Wealth quintile'].nunique(dropna=False)

47

In [80]:
#Mode of the 16th column; Data source.
super_data_frame['Data source'].mode()

0    MICS 2018
dtype: object

In [81]:
#Number of unique values of the 16th column; Data source.
super_data_frame['Data source'].nunique(dropna=False)

43

In [82]:
#Mode of the 17th column; Time period.
super_data_frame['Time period'].mode()

0    2018.0
dtype: float64

In [83]:
#Number of unique values of the 17th column; Time period.
super_data_frame['Time period'].nunique(dropna=False)

11

In [84]:
#Checking for null values in ISO3.
super_data_frame['ISO3'].isnull().value_counts()

False    606
Name: ISO3, dtype: int64

In [85]:
#Checking for null values in Countries and areas.
super_data_frame['Countries and areas'].isnull().value_counts()

False    606
Name: Countries and areas, dtype: int64

In [86]:
#Checking for null values in Region.
super_data_frame['Region'].isnull().value_counts()

False    600
True       6
Name: Region, dtype: int64

In [87]:
#Checking for null values in Sub-region.
super_data_frame['Sub-region'].isnull().value_counts()

False    600
True       6
Name: Sub-region, dtype: int64

In [88]:
#Checking for null values in Development Regions.
super_data_frame['Development Regions'].isnull().value_counts()

False    606
Name: Development Regions, dtype: int64

In [89]:
#Checking for null values in Total.
super_data_frame['Total'].isnull().value_counts()

False    330
True     276
Name: Total, dtype: int64

In [90]:
#Checking for null values in Female.
super_data_frame['Female'].isnull().value_counts()

False    330
True     276
Name: Female, dtype: int64

In [91]:
#Checking for null values in Male.
super_data_frame['Male'].isnull().value_counts()

False    330
True     276
Name: Male, dtype: int64

In [92]:
#Checking for null values in Rural_Residence.
super_data_frame['Rural_Residence'].isnull().value_counts()

False    322
True     284
Name: Rural_Residence, dtype: int64

In [93]:
#Checking for null values in Urban_Residence.
super_data_frame['Urban_Residence'].isnull().value_counts()

False    322
True     284
Name: Urban_Residence, dtype: int64

In [94]:
#Checking for null values in Poorest_Wealth quintile.
super_data_frame['Poorest_Wealth quintile'].isnull().value_counts()

False    306
True     300
Name: Poorest_Wealth quintile, dtype: int64

In [95]:
#Checking for null values in Second_Wealth quintile.
super_data_frame['Second_Wealth quintile'].isnull().value_counts()

False    306
True     300
Name: Second_Wealth quintile, dtype: int64

In [96]:
#Checking for null values in Middle_Wealth quintile.
super_data_frame['Middle_Wealth quintile'].isnull().value_counts()

False    306
True     300
Name: Middle_Wealth quintile, dtype: int64

In [97]:
#Checking for null values in Fourth_Wealth quintile.
super_data_frame['Fourth_Wealth quintile'].isnull().value_counts()

False    306
True     300
Name: Fourth_Wealth quintile, dtype: int64

In [98]:
#Checking for null values in Richest_Wealth quintile.
super_data_frame['Richest_Wealth quintile'].isnull().value_counts()

False    306
True     300
Name: Richest_Wealth quintile, dtype: int64

In [4]:
#Dropping two columns that aren't necessary for this purpose.
#super_data_frame.drop(columns=['Data source', 'Time period'])

In [5]:
#Dropping rows where any null values exist in numerical data.
#super_data_frame.dropna(how='any')

In [101]:
super_data_frame.describe().T

,count,mean,std,min,25%,50%,75%,max
Total,330.0,18.190909,18.599357,0.0,3.00,11.0,27.00,86.0
Female,330.0,18.881818,20.502679,0.0,3.00,10.0,29.00,91.0
Male,330.0,17.445455,17.129004,0.0,3.25,12.0,26.00,79.0
Rural_Residence,322.0,22.114907,21.867396,0.0,4.00,13.0,35.00,95.0
Urban_Residence,322.0,13.021739,13.619306,0.0,3.00,8.0,19.75,70.0
Poorest_Wealth quintile,306.0,29.614379,25.901990,0.0,6.00,23.5,46.00,99.0
Second_Wealth quintile,306.0,23.055556,23.248625,0.0,3.00,15.0,36.00,97.0
Middle_Wealth quintile,306.0,19.078431,20.788089,0.0,3.00,11.0,29.00,97.0
Fourth_Wealth quintile,306.0,14.617647,17.425275,0.0,2.00,7.0,21.00,92.0
Richest_Wealth quintile,306.0,9.300654,12.074406,0.0,1.00,4.0,13.00,63.0
Time period,330.0,2015.496970,2.567329,2010.0,2014.00,2016.0,2018.00,2019.0